
/*footer*/
footer {
  text-align: left;
  -webkit-font-smoothing: antialiased;
  background: #2c2c2c;
}
footer p {
  margin-left: 10px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;

}


#back-to-top {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(12, 176, 247);
  color: #fff;
  margin: 3px;
  padding: 10px 15px;
  right: 90cm;
  justify-content: flex-end;

}
#back-to-top:hover{
  opacity: 0.8;
}


.d-table {
  display:table;
}

.d-table-cell {

  display:table-cell;
  margin-top: 0px;
  margin-left: 10px;


}

.w-100 {
  width: 98%;
  margin-left: 10px;
}

.tar {
  text-align: right;

}


/*footer*/



#color_text {
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

section{
    -webkit-font-smoothing: antialiased;
}
.content {
    display: flex;
    background-color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
}

#black {
    display: inline-block;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding: 10%;
}
#black img {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin: 0px;
    padding: 0%;
    width: 35%;
	  height: 45%;
    border-radius: 10px;
}

#container-A:hover #img1 {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	max-width: 100%;
	-moz-transition: all 0.9s;
	-webkit-transition: all 0.9s;
	transition: all 0.9s;
}
#container-B:hover #img2 {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	max-width: 100%;
	-moz-transition: all 0.9s;
	-webkit-transition: all 0.9s;
	transition: all 0.9s;
}

#red {
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    padding: 10%;

}
#red h2{
    color: #fff;
    -moz-text-size-adjust: auto;
}

#red p{
    color: #fff;
}
header a img{

    width: 16%;
	  height: 16%;
    margin-top: 10px;
    margin-right: 5px;
    
}
header:hover a img {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	max-width: 100%;
	-moz-transition: all 0.9s;
	-webkit-transition: all 0.9s;
	transition: all 0.9s;
}


body,
ul {
  margin: 0px;
  border-radius: 0px;
}

a {
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1f1f1f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #0c0c0c;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color:blue;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(14, 0, 0);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.2s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .button{
      border-radius: 5px;
  }
}